.navbar{
  display: flex;
  width: 100%;
  justify-content: center;
}

.navbar-item {
  width: fit-content;
  padding: 40px 0px;
  border-bottom: solid 1px #dcdcdc;
}

.navbar-item a{
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0px 20px;
  text-decoration: none;
  color: black;
}

.navbar-item a:focus{
  color: #FFCF55;
  outline-color: transparent;
}

.navbar-item a:active{
  color: black;
}

.search-field-container{
  border-bottom: solid 1px #dcdcdc;
  margin-right: 60px;
}
.search-field{
  font-size: 1.3rem;
  color: #cac9c9;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  margin-top: 80px;
}
.search-field-container:focus-within{
  border-bottom: solid 2px #dcdcdc;
}
.search-field:focus{
  outline: none;
}
.icon{
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}